<div class="about">
	<h2>About</h2>
	<p>This website provides <%= link_to "an RSS feed", "/feed/news.rss" %> for the news items on the front page of <%= link_to "ubu.com", "http://ubu.com/" %></p>
	<p>The feed is updated every 12 hours. <%= link_to "The code", "https://github.com/freen/ubuwebrss" %> is open source.
</div>
<div class="feed_latest">
	<h2>Latest Feed Items</h2>
</div>