common: &common
  adapter: mysql2
  username: ubuwebrss

development:
  <<: *common
  database: ubuwebrss_devel
  password: password

test:
  <<: *common
  database: ubuwebrss_test
  password: password

production:
  password: '}%<-m4,q%WP"oD<P%xS,'
  database: ubuwebrss_prod
