common: &common
  adapter: postgresql
  username: ubuwebrss
  password: '}%<-m4,q%WP"oD<P%xS,'

development:
  <<: *common
  database: ubuwebrss_devel
  password: '}%<-m4,q%WP"oD<P%xS,'

test:
  <<: *common
  database: ubuwebrss_test

production:
  <<: *common
  database: ubuwebrss_prod
