// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial;
	font-size: 10px;
	background-color: black;
}

header {
	height: 200px;
	width: 100%;
	background: white url('/assets/giorno_header.png') no-repeat 550px top;
}

.content {
	
}