body {
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial;
	font-size: .8em;
	background-color: #7E827A;
}

a, a:visited { color: white; }

header {
	height: 200px;
	width: 100%;
	background: white url('/assets/giorno_header.png') no-repeat 550px top;
	float: left;
}

ul {
	list-style: none;
	padding: 0;
}

h2 { color: black; }

.content {
	color: white;
	float: left;
	width: 100%;

	.content_inner {
		width: 600px;
		margin: 0 auto;
		display: block;
		padding: 20px 0;

		.about {
			float: left;
			width: 250px;
			margin-right: 40px;
		}

		.scrape_log {
			width: 250px;
			float: left;
			color: black;

			ul.scrape_events li {
				font-family: monospace;

				.time { font-weight: bold; }
			}
		}

		.feed_latest {
			float: right;
			width: 300px;
			h4 {
				margin-bottom: 3px;
				font-weight: normal;
			}
		}
	}
}

footer {
	width: 100%;
	float: left;

	.footer_inner {
		width: 600px;
		margin: 0 auto;
		display: block;
	}
}