<!DOCTYPE html>
<html>
<head>
  <title>UbuWeb RSS Feed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, @hostname + "feed/news.rss") %>
</head>
<body>
  <header></header>
  <div class="content">
    <div class="content_inner">
      <%= yield %>
    </div>
  </div>
</body>
</html>
